<h3><%= @user.name %>'s Preference Schedule</h3>
<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to("Assigned Schedule", "/users/"+@user.id.to_s+"/assignments") %></li>
  <li role="presentation" class="active"><%= link_to("Preference Schedule","/users/"+@user.id.to_s+"/preference") %></li>
</ul>
<%= render partial: "layouts/weekly_calendar", locals: { all_times: Preference.all_times, entries_hash: @preference_hash} %>