<table class="table table-bordered fixed" style="text-align:center">
    <col width="120px" />
    <col width="100px" />
    <col width="100px" />
    <col width="100px" />
    <col width="100px" />
    <col width="100px" />
    <col width="100px" />
    <col width="100px" />
    <tr>
        <th style="text-align:center">Time</th>
        <th style="text-align:center">Sunday</th>
        <th style="text-align:center">Monday</th>
        <th style="text-align:center">Tuesday</th>
        <th style="text-align:center">Wednesday</th>
        <th style="text-align:center">Thursday</th>
        <th style="text-align:center">Friday</th>
        <th style="text-align:center">Saturday</th>
    </tr>
<% for t in all_times %>
    <tr>
        <td><%= t %></td>
        <% for day in [:su, :m, :tu, :w, :th, :f, :sa] do %>
        <% @id = day.to_s + "_" + t %>
            <td id="<%= @id %>">
                <% if entries_hash[day].key?(t) %>
                    <%= entries_hash[day][t].join(", ")%>
                <% end %>
            </td>
        <% end %>
    </tr>
<% end %>
</table>